doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='og:title', content=title)
    meta(name='twitter:title', content=title)
    meta(name='og:image', content=image)
    meta(name='twitter:image', content=image)
    meta(name='og:description', content=description)
    meta(name='twitter:description', content=description)
    meta(name='description', content=description)
    link(rel='stylesheet', href='/build/styles/bundle.css')
    
  body
    #layout
      a#menu-link.menu-link(href='#menu')
        span
      #menu
        .pure-menu
          ul.pure-menu-list
            li.pure-menu-item
              a.pure-menu-link(href='/') Home
            li.pure-menu-item
              a.pure-menu-link(href='/rule') Get a rule
            li.pure-menu-item
              a.pure-menu-link(href='/how-to-play') How to play
      #main
        block content
      include ./partials/footer.jade
    include ./partials/google-analytics.jade
    include ./partials/facebook-sdk.jade
    script(type="text/javascript", src="/build/js/bundle.js")