doctype html
html(lang='en')
  head
    title= title || siteTitle
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, target-densitydpi=device-dpi, user-scalable=no')
    meta(name='og:title', content=title || siteTitle)
    meta(name='twitter:title', content=title || siteTitle)
    meta(name='og:image', content=image || siteLogo)
    meta(name='twitter:image', content=image || siteLogo)
    meta(name='og:description', content=description || siteDescription)
    meta(name='twitter:description', content=description || siteDescription)
    meta(name='description', content=description || siteDescription)
    link(rel='stylesheet', href=buildDirectory + 'styles/bundle.css')
    
  body
    #layout
      a#menu-link.menu-link(href='#menu')
        span
      #menu
        include ./partials/menu.jade
      #main
        block content
      include ./partials/footer.jade
    include ./partials/google-analytics.jade
    include ./partials/facebook-sdk.jade
    script(type="text/javascript", src=buildDirectory + 'js/bundle.js')