extends layout

block content    
  .header
    h1
      a(href=rule.permalink)= rule.title
  .content
    .kings-rule
      .image
        img(src=rule.image, alt=rule.title)
      .description
        p !{rule.description}
      .actions
        .share
          .pure-form
            input.pure-u-1.permalink(type='text', name='Permalink', value=rule.permalink, readonly='')
          .pure-g.l-boxes.share-options
            .pure-u-1-5
              .l-box
                a.pure-u-1.pure-button.share-link.facebook(href=rule.permalink, title='Share with Facebook')
                  span.fa.fa-facebook
            .pure-u-1-5
              .l-box
                a.pure-u-1.pure-button.share-link.twitter(href=rule.twitterShareUrl, title='Share with Twitter')
                  span.fa.fa-twitter
            .pure-u-1-5
              .l-box
                a.pure-u-1.pure-button.share-link.tumblr(href=rule.tumblrShareUrl, title='Share with Tumblr')
                  span.fa.fa-tumblr
            .pure-u-1-5
              .l-box
                a.pure-u-1.pure-button.share-link.pinterest(href=rule.pinterestShareUrl, title='Share with Pinterest')
                  span.fa.fa-pinterest
            .pure-u-1-5
              .l-box
                a.pure-u-1.pure-button.email(href=rule.emailShareUrl, title='Email to a Friend')
                  span.fa.fa-envelope
        include ./partials/google-ads.jade
        .different-rule
          a.pure-button.pure-button-primary(href='/rule?' + (new Date()).getTime() ) Get a different rule 
            span.fa.fa-undo.fa-shift
        .facebook-comments-container
          //.fb-like(data-href=rule.permalink, data-width='100%', data-layout='button_count', data-action='like', data-show-faces='true', data-share='true')
          .fb-comments(data-href=rule.permalink, data-numposts=5, data-width='100%')
