extends layout

block content
  .header
    h1= rule.title
  .content
    .kings-rule
      .image
        if rule.image
          img(src=rule.image)
        else
          .no-image 
            span ?
      .description
        p= rule.description
      .actions
        .share
          .pure-form
            .pure-g
              .pure-u-16-24
                input.pure-u-23-24#permalink(type='text', value=rule.permalink, readonly='')
              .pure-u-8-24
                button.pure-u-1.pure-button.pure-button-secondary(type='button')#share-button Share
            .pure-g.l-boxes.fade#share-options
              .pure-u-1-3
                .l-box
                  a.pure-u-1.pure-button.share-link.facebook(href=rule.facebookShareUrl)
                    span.fa.fa-facebook
              .pure-u-1-3
                .l-box
                  a.pure-u-1.pure-button.share-link.twitter(href=rule.twitterShareUrl)
                    span.fa.fa-twitter
              .pure-u-1-3
                .l-box
                  a.pure-u-1.pure-button.share-link.tumblr(href=rule.tumblrShareUrl)
                    span.fa.fa-tumblr
        .different-rule
          a.pure-button.pure-button-primary(href='/rule') Get a different rule
